WOWG/that-example.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "that-set">
		<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
			<xsd:element ref = "e"/>
			<xsd:element ref = "f"/>
			<xsd:element ref = "g"/>
			<xsd:element ref = "h"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name = "that-oneOf">
		<xsd:choice>
			<xsd:element ref = "e"/>
			<xsd:element ref = "f"/>
			<xsd:element ref = "g"/>
			<xsd:element ref = "h"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name = "that-seq">
		<xsd:sequence>
			<xsd:element ref = "e"/>
			<xsd:element ref = "f"/>
			<xsd:element ref = "g"/>
			<xsd:element ref = "h"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "e" type = "xsd:string"/>
	<xsd:element name = "f" type = "xsd:int"/>
	<xsd:element name = "g" type = "xsd:int"/>
	<xsd:element name = "h" type = "xsd:ID"/>
</xsd:schema>