WOWG/this-example.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name = "this-set">
		<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
			<xsd:element ref = "a"/>
			<xsd:element ref = "b"/>
			<xsd:element ref = "c"/>
			<xsd:element ref = "d"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name = "this-alt">
		<xsd:choice>
			<xsd:element ref = "a"/>
			<xsd:element ref = "b"/>
			<xsd:element ref = "c"/>
			<xsd:element ref = "d"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name = "this-seq">
		<xsd:sequence>
			<xsd:element ref = "a"/>
			<xsd:element ref = "b"/>
			<xsd:element ref = "c"/>
			<xsd:element ref = "d"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "a" type = "xsd:string"/>
	<xsd:element name = "b" type = "xsd:int"/>
	<xsd:element name = "c" type = "xsd:int"/>
	<xsd:element name = "d" type = "xsd:ID"/>
</xsd:schema>